.button-label {
    -unity-font-definition: url('project://database/Assets/Art/Fonts/ArialBold_SDF.asset?fileID=11400000&guid=9dad3462254aee741b44992a62fa8388&type=2#ArialBold_SDF');
    font-size: 100px;
    color: rgb(255, 255, 255);
    -unity-font-style: normal;
    -unity-text-align: middle-center;
}

.character {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    min-width: 100px;
    min-height: 100px;
    -unity-background-scale-mode: scale-to-fit;
}
